<div class="product-card" >
    <img [src]="product.imageLink" alt="Product Image" class="product-image">
    <h3 class="product-title"><a [routerLink]="['/products/detail', product.id]">{{product.name}}</a></h3>
    <p class="product-description">{{product.description}}</p>
    <div class="product-info">
        <span class="product-rating">Rating: {{ getStars(product.rating) }}</span>
        <span class="product-price">₸{{product.price}}</span>
      </div>
      <div class="product-actions">
        <button class="btn share-btn" (click)="share(product.sourceLink ?? '')">Share</button>
        <button class="btn delete-btn" (click)="delete(product.id)">Delete</button>
        <button class="btn dislike-btn" (click)="manageLike(product.id)">
          Like {{product.like}}
        </button>
      </div>
  </div>

