<header>
    <h1>Internet Shop</h1>
  </header>
  <div class="container">
    <aside class="categories">
      <button *ngFor="let category of categories" (click)="filterProducts(category)">
        {{ category }}
      </button>
      <button (click)="resetFilter()">Show All</button>
    </aside>
    
    <div class="products-container">
      <div class="product" *ngFor="let prod of displayedProducts">
        <h2>
          <a class="items" [href]="prod.sourceLink" target="_blank">{{ prod.name }}</a>
        </h2>
        <p class="description">{{ prod.description }}</p>
        <p class="price">Price: {{ prod.price }} ₸</p>
        <p class="category">Category: {{ prod.category }}</p>
        <p class="rating">Rating: <span [innerHTML]="getStars(prod.rating)"></span></p>
        <p>Likes: {{ prod.like }}</p>
        <img [src]="prod.imageLink" [alt]="prod.name">
        <br>
        <button (click)="likeProduct(prod)"><i class='bx bx-like'></i></button>
        <button (click)="removeProduct(prod)"><i class='bx bx-trash' ></i></button>
        <button (click)="sharing(prod.id)"><i class='bx bx-share-alt' ></i></button>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>